asn1crypto==0.24.0
beautifulsoup4==4.7.1
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
cryptography==2.4.2
falcon==1.4.1
future==0.17.1
google==2.0.1
hug==2.4.1
idna==2.8
json5==0.6.1
pycparser==2.19
python-json-logger==0.1.10
python-mimeparse==1.6.0
python-telegram-bot==11.1.0
requests==2.21.0
six==1.12.0
soupsieve==1.6.2
structlog==18.2.0
urllib3==1.24.1
