<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Youtube creator uploader </title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body class="container">
<h1>
    Input your content here
    <a href="/new-mv" class="btn btn-primary pull-right">
        Create new MV here
    </a>
</h1>