<% include header.ejs %>
<form method="post" role="form" enctype="multipart/form-data">

    <div title="configure for background" class="form-group">
        <h3>Background image configuration </h3>
        <label for="title"></label>
        <input type="file" class="form-control-file" id="titleimg"
               name="bgimg" placeholder="Browser to background file ">
    </div>

    <div class="form-group">
        <h3> Lyric and sub file configuration </h3>
        <label for="title">Nhaccuatui URL</label>
        <input type="url" class="form-control" id="ncturl"
               name="ncturl" placeholder="Entry title">
    </div>
    <div class="form-group">
        <h3>Subtitle configuration</h3>
        <div class="border-dark">
            <label for="title">Subtitle Coordinate </label>
            <input type="text" class="form-control" id="coordinate"
                   name="coordinate" placeholder="Enter coordinate of subtitle (x,y)">
            <label for="title">Font file </label>
            <input type="file" class="form-control-file" id="fontfile"
                   name="fontfile" placeholder="Entry title">

            <label for="title">Font size</label>
            <input type="number" class="form-control" id="fontsize"
                   name="fontsize" placeholder="Enter font size">

            <label for="title">Font color</label>
            <input type="color" class="form-control" id="fontcolor"
                   name="fontcolor" placeholder="Enter font color">

        </div>
    </div>

    <div class="form-group">
        <h3> Effect configuration</h3>
        <div class="border-dark">
            <label for="title">Effect file</label>
            <input type="file" class="form-control-file" id="effectfile"
                   name="effectfile" placeholder="Entry title">
            <label for="title">Opacity</label>
            <input type="number" class="form-control" id="opacity"
                   name="opacity" placeholder="Enter opacity">
        </div>
    </div>

    <div title="Title input group" class="form-group">
        <h3>Title configuration </h3>
        <label for="title">Title file IMG</label>
        <input type="file" class="form-control-file" id="titleimg"
               name="titleimg" placeholder="Browser to title file ">
        <label for="title">Title's coordinate</label>
        <input type="text" class="form-control" id="titlecoordinate"
               name="titlecoordinate" placeholder="Enter title coordinate">
    </div>


    <div class="btn-group">
        <input type="submit" value="preview" class="btn-primary">
        <input type="submit" value="release" class="btn-primary">
    </div>
</form>
<% include footer.ejs %>
