<doctype html>
    <head>
        <title>Python Flask Bucket List App</title>
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/jumbotron-narrow.css" rel="stylesheet">
        <link href="static/css/split.css" rel="stylesheet">
    </head>
    <title>New MV </title>
    <h2>New Music Video Youtube</h2>

    {% from "_formhelpers.html" import render_field %}
    <form method=post enctype="multipart/form-data">

        <div class="split left">
            <div class="left">
                <dl>
                    <h3> Innput Nhaccuatui url</h3>
                    <h3> & mp3 file</h3>
                    {{ render_field(form.mp3_file) }}
                    {{ render_field(form.sound_nct_url) }}
                    <h3> Input backgroup imange</h3>
                    {{ render_field(form.bg_img) }}
                    <h3> Input Title info</h3>
                    {{ render_field(form.title_img) }}
                    {{ render_field(form.title_pos_x) }}
                    {{ render_field(form.title_pos_y) }}

                </dl>
            </div>
            <div class="split right">
                <dl>
                    <h3> input Affect</h3>
                    {{ render_field(form.affect_mv) }}
                    {{ render_field(form.affect_opacity) }}
                    <h3> input subtitle options</h3>
                    {{ render_field(form.sub1st_pos_x) }}
                    {{ render_field(form.sub1st_pos_y) }}
                    {{ render_field(form.sub1st_color) }}
                    {{ render_field(form.sub1st_font) }}
                    {{ render_field(form.sub1st_fontsize) }}
                </dl>
            </div>
            <p><input type=submit value=Submit>
        </div>
    </form>
</doctype>